---
import LayoutHomepage from "@app/layouts/LayoutHomepage.astro";
---

<LayoutHomepage>
  <div class="p-3">
    <h3>Hi und Willkommen!</h3>
    <p>
      Ich bin Antonia und ich entwerfe, fertige sowie style leidenschaftlich
      alles was mit Kostümen und Mode zutun hat.
    </p>
    <p class="mb-0">Ich freue mich auf kreative Zusammenarbeit!</p>
  </div>
</LayoutHomepage>
