---
import Layout from "@app/layouts/Layout.astro";

import Cloud from "@app/components/Cloud.astro";
import Infobox from "@app/components/Infobox.astro";

import videoMp4 from "@app/assets/homepage-video.mp4";
---

<Layout title="Startseite" showTagline={true}>
  <!-- Video -->
  <video muted autoplay loop slot="header" style="width: 100%;">
    <source src={videoMp4} type="video/mp4" />
  </video>

  <!-- Cloud -->
  <div class="cloud-container">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-7 col-md-5 col-lg-3">
          <Cloud>Antonia Parr</Cloud>
        </div>
      </div>
    </div>
  </div>

  <!-- Content -->
  <div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-10 col-md-6 col-lg-4">
        <Infobox>
          <div class="p-3">
            <h3>Hi und Willkommen!</h3>
            <p>
              Ich bin Antonia und ich entwerfe, fertige sowie style
              leidenschaftlich alles was mit Kostümen und Mode zutun hat.
            </p>
            <p class="mb-0">Ich freue mich auf kreative Zusammenarbeit!</p>
          </div>
        </Infobox>
      </div>
    </div>
  </div>
</Layout>

<style>
  .cloud-container {
    margin-top: -5.5rem;
  }
</style>
