---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Startseite">
  <section class="header">awef</section>
</Layout>

<style>
  section.header {
    background-color: var(--color-blue);
  }
</style>
