---
import LayoutContent from "@app/layouts/LayoutContent.astro";
---

<LayoutContent title="Kontakt">
  <h3>Kontakt</h3>

  <p>
    <a href="mailto:hallo@antoniaparr.com">hallo@antoniaparr.com</a>
  </p>

  <p class="m-0">
    Antonia Parr <br />
    Wöhlerstr. 24<br />
    50823 Köln
  </p>
</LayoutContent>
