---
import frame15 from "@app/assets/frame-15.webp";
import frame141 from "@app/assets/frame-141.webp";

interface Props {
  aspect?: "default" | "video";
}

const { aspect = "default" } = Astro.props;
---

<section
  class=""
  class:list={[
    "frame-container",
    {
      "aspect-default": aspect === "default",
      "aspect-video": aspect === "video",
    },
  ]}
  style={`--frame-url: url(${aspect === "video" ? frame141.src : frame15.src})`}
>
  <div class="content">
    <slot />
  </div>
</section>

<style>
  .frame-container {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .aspect-default {
    aspect-ratio: 1.5;
  }

  .aspect-video {
    aspect-ratio: 1.4158653846;
  }

  .frame-container::after {
    display: block;
    content: "";

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background-image: var(--frame-url);
    background-size: contain;

    pointer-events: none;
  }

  .content {
    width: calc(100% - 5px);
    height: calc(100% - 5px);
  }
</style>

<style is:global>
  .frame-container video,
  .frame-container img {
    width: 100%;
    height: auto;
  }
</style>
