---
import frame from "@app/assets/frame-prop.webp";
---

<section class="frame-container" style={`--frame-url: url(${frame.src})`}>
  <div class="content">
    <slot />
  </div>
</section>

<style>
  .frame-container {
    position: relative;
    aspect-ratio: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .frame-container::after {
    display: block;
    content: "";

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background-image: var(--frame-url);
    background-size: contain;

    pointer-events: none;
  }

  .content {
    width: calc(100% - 5px);
    height: calc(100% - 5px);
  }
</style>

<style is:global>
  .frame-container video,
  .frame-container img {
    width: 100%;
    height: auto;
  }
</style>
