---
interface Props {
  title: string;
}

import cloud from "@app/assets/cloud.webp";
const { title } = Astro.props;
---

<section class="cloud" style={`background-image: url(${cloud.src})`}>
  <h1 class="h4 m-0 mt-2">{title}</h1>
</section>

<style>
  .cloud {
    background-size: contain;
    background-repeat: no-repeat;
    aspect-ratio: 2.19;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    text-transform: uppercase;
  }
</style>
