---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<div class="container cloud-container">
  <div class="row justify-content-center">
    <div class="col-7 col-md-5 col-lg-3">
      <section class="cloud">
        <h1 class="h4">{title}</h1>
      </section>
    </div>
  </div>
</div>

<style>
  .cloud-container {
    margin-top: -2.5rem;
  }

  .cloud {
    background-image: url("public/images/cloud.webp");
    background-size: contain;
    background-repeat: no-repeat;
    aspect-ratio: 2.19;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
