---
import { Image } from "astro:assets";
import cloud1 from "@app/assets/bg-cloud-1.png";
import cloud2 from "@app/assets/bg-cloud-2.png";
import cloud3 from "@app/assets/bg-cloud-3.png";
import cloud4 from "@app/assets/bg-cloud-4.png";
import cloud5 from "@app/assets/bg-cloud-5.png";
import cloud6 from "@app/assets/bg-cloud-6.png";

const clouds = [cloud1, cloud2, cloud3, cloud4, cloud5, cloud6];
---

<div class="clouds-container">
  {
    clouds.map((cloud, index) => (
      <div
        class={"cloud cloud-" + (index + 1)}
        style={`background-image: url(${cloud.src})`}
      />
    ))
  }
</div>

<style>
  .clouds-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 100;
  }
  .cloud {
    background-color: aliceblue;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    animation-duration: 40s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  .cloud-1 {
    width: 200px;
    height: 100px;
    top: 50px;
    animation-name: cloud1-animation;
  }
  .cloud-2 {
    width: 250px;
    height: 120px;
    top: 150px;
    animation-name: cloud2-animation;
  }
  /* add more cloud styles as needed */

  @keyframes cloud1-animation {
    0% {
      left: -10%;
    }
    100% {
      left: 110%;
    }
  }
  @keyframes cloud2-animation {
    0% {
      left: 110%;
    }
    100% {
      left: -10%;
    }
  }
  /* add more animations as needed */
</style>
