---
import frame from "@app/assets/frame.webp";
---

<div class="video-container">
  <slot />
  <div class="video-frame" style={`background-image: url(${frame.src})`}></div>
</div>

<style>
  .video-container {
    position: relative;
    aspect-ratio: 1.42;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .video-container video,
  .video-container img {
    width: 98%;
    height: auto;
  }

  .video-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    pointer-events: none; /* This is important. It enables click-through */
  }
</style>
