---
import SidebarToggle from "./SidebarToggle.astro";
---

<section class="header py-4">
  <h6 class="tagline">Kostüme • Styling • Mode • Kunst</h6>
  <div class="container">
    <div class="row g-0">
      <div class="col-1 offset-md-1">
        <SidebarToggle position="header" />
      </div>
      <div class="col-10 col-md-8 mb-4">
        <slot />
      </div>
    </div>
  </div>
</section>

<style>
  .tagline {
    font-family: Oliver, serif;
    color: var(--color-red);
    text-align: center;
    letter-spacing: 0.25rem;
    font-size: 0.75rem;
    text-transform: uppercase;
  }

  .header {
    background-color: var(--color-blue);
  }
</style>
