---
import SidebarToggle from "./SidebarToggle.astro";

interface Props {
  showTagline: boolean;
}

const { showTagline } = Astro.props;
---

<section class="header py-4">
  {showTagline && <h2 class="tagline">Kostüme • Styling • Mode • Kunst</h2>}
  <div class="container">
    <div class="row g-0">
      <div class="col-1 offset-md-1 offset-lg-2">
        <SidebarToggle position="header" />
      </div>
      <div class="col-10 col-md-8 col-lg-6 mb-4">
        <slot />
      </div>
    </div>
  </div>
</section>

<style>
  .tagline {
    font-family: Oliver, serif;
    color: var(--color-red);
    text-align: center;
    letter-spacing: 0.25rem;
    font-size: 0.75rem;
    text-transform: uppercase;
  }

  .header {
    background-color: #7589c1;
  }
</style>
