---
import hamburger from "@app/assets/hamburger.svg?raw";
import x from "@app/assets/x.svg?raw";

interface Props {
  position: "header" | "aside";
}

const { position } = Astro.props;
---

<button class="hamburger-button mb-4" data-position={position}>
  <Fragment set:html={position === "header" ? hamburger : x} />
</button>

<style>
  .hamburger-button {
    fill: var(--color-red);
    border: none;
    background: transparent;
    padding: 0;
  }
</style>

<script define:vars={{ position }} is:inline>
  const aside = document.querySelector("aside");
  const overlay = document.querySelector(".overlay");
  const button = document.querySelector(`button[data-position="${position}"]`);

  aside?.addEventListener("click", (e) => e.stopPropagation());
  overlay?.addEventListener("click", () => overlay.classList.remove("show"));
  button?.addEventListener("click", () => overlay?.classList.toggle("show"));
</script>
