---
interface Props {
  title: string;
  cloudTitle: string;
}

const { title, cloudTitle } = Astro.props;

import "@app/css/main.css";
import "bootstrap/dist/css/bootstrap.css";
import Cloud from "@app/components/Cloud.astro";
import Header from "@app/components/Header.astro";
import Frame from "@app/components/Frame.astro";
---

<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header>
      <Frame />
    </Header>

    <Cloud title={cloudTitle} />

    <slot />
  </body>
</html>
