---
interface Props {
  title: string;
}

const { title } = Astro.props;

import "@app/css/main.css";
import "bootstrap/dist/css/bootstrap.css";
import Header from "@app/components/Header.astro";
import Navigation from "@app/components/Navigation.astro";
import CloudsBackground from "@app/components/CloudsBackground.astro";

interface Props {
  showTagline: boolean;
}

const { showTagline } = Astro.props;
---

<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/webp" href="/favicon.webp" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} • Antonia Parr</title>
  </head>
  <body>
    <CloudsBackground />
    <Navigation />
    <Header showTagline={showTagline}>
      <slot name="header" />
    </Header>

    <slot />
  </body>
</html>
